/* Desktop */


@media (1120px <= width) {
    .sidenav {
        flex-grow: 1;
    }


    /* Close */

    .sidenav__close {
        display: none;
    }

    /* Communication */

    .sidenav__communication {
        margin-top: min(100px, 10vh);
    }
}