/* Base */

.button {
    font: inherit;
    padding: var(--margins-xxs);
    cursor: pointer;
    margin: 0;
    border: 1px solid transparent;
    background-color: var(--color-accent);
    min-width: 40px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
}

.button:hover,
.button:focus {
    filter: brightness(0.8);
}

.button:active {
    transform: scale(0.95);
}

.button_round  {   
     border-radius: 50%;
}

.button_bg_transparent {
    background: transparent;
}

/* Icon */

.button__icon {
    padding: 0;
    width: 20px;
    height: 20px;
    color: var(--color-back-primary);
    display: block;
}

.button__icon-wrap {
    color: var(--color-back-primary);
    background-color: var(--color-accent);
    border-radius: 50%;
    padding: 10px;
}

.button__icon-wrap + .button__label,
.button__icon + .button__label {
    margin-left: var(--margins-xxs);
}

.button__label + .button__icon,
.button__label + .button__icon-wrap {
    margin-left: var(--margins-xxs);
}