/* Base */

.button {
    font: inherit;
    padding: var(--margins-xxs);
    cursor: pointer;
    margin: 0;
    border: 1px solid transparent;
    background-color: var(--color-accent);
    min-width: 40px;
    min-height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    color: var(--color-back-primary);
    text-decoration: none;
    box-shadow: 0 0 0 var(--color-accent);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 10px var(--color-accent);
}

.button:active {
    transform: scale(0.95);
}

/* Ronded */

.button_round  {   
    border-radius: 50%;
}

/* Ronded 16px */

.button_round_16px {
    border-radius: 16px;
}

/* Transparent Background */

.button_bg_transparent {
    color: var(--color-text-primary);
    background: transparent;
}

.button_bg_transparent:hover, 
.button_bg_transparent:focus {
    color: var(--color-accent-secondary);
    box-shadow: none;
}

/* Bordered */

.button_bordered {
    background: transparent;
    border: solid var(--color-accent) 2px;
}

/* Pseudo Link */

.button_pseudo-link {
    padding: 0;
    font-weight: bold;
    background: transparent;
    color: var(--color-text-primary);
    min-width: auto;
    min-height: auto;
}

.button_pseudo-link:focus,
.button_pseudo-link:hover {
    text-decoration: underline;
    box-shadow: none;
}

.button_pseudo-link:active {
    transform: none;
    color: var(--color-accent);
}

/* Icon */

.button__icon {
    padding: 0;
    width: 20px;
    height: 20px;
    color: inherit;
    display: block;
    transition: all 0.3s ease;
}

.button__icon_sm {
    width: 15px;
    height: 12px;
}

.button__icon_color_accent {
    color: var(--color-accent);
}

.button__icon-wrap {
    color: var(--color-back-primary);
    background-color: var(--color-accent);
    border-radius: 50%;
    padding: 10px;
}

.button__icon-wrap + .button__label,
.button__icon + .button__label {
    margin-left: var(--margins-xxs);
}

.button__label + .button__icon,
.button__label + .button__icon-wrap {
    margin-left: var(--margins-xxs);
}


/* Accordion Control */

.button_accordion_control {
    color: var(--color-text-primary);
    background: transparent;
    border-radius: 6px;
    padding-inline: var(--margins-xs);
}


.button_accordion_control:hover,
.button_accordion_control:focus {
    box-shadow: none;
    background-color: var(--color-back-secondary);
}

.button_accordion_control[aria-expanded = 'true'] > .button__icon {
    transform: rotate(180deg);
}