/* Base */

.swiper-accordion {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}


/* Button */

.swiper-accordion__button {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border-radius: 6px;
    transition: background .2s;
    margin-top: var(--margins-md);
    margin-left: var(--margins-hor);
}

.swiper-accordion__label::after {
    content: 'Показать все';
    font-size: 16px;
    line-height: 24px;
    margin-left: var(--margins-xxs);
}


/* Wrapper */

.swiper-accordion__wrapper {
    max-height: calc(72px * 2 + var(--margins-sm));
    overflow: hidden;
}

.swiper-accordion__wrapper[data-expanded='true']{
    max-height: 9999px;
}


/* Content */

.swiper-accordion__content {
    margin-left: var(--margins-hor);
    transition: all 150ms;
}


/* Icon */

.swiper-accordion__icon {
    padding: 0;
    width: 16px;
    height: 16px;
    color: var(--color-back-primary);
    display: block;
    transition: transform .2s;
}

.swiper-accordion__checkbox:checked + .swiper-accordion__label > .swiper-accordion__icon {
    transform: rotate(180deg);
}


/* Pagination */

.swiper-accordion__pagination {
    display: none;
    justify-content: center;
    gap: var(--margins-xs);
    padding-top: var(--margins-sm);
}


/* Bullet */

.swiper-accordion__bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-text-primary);
    opacity: 0.2;
    transition: all 0.2s;
}

.swiper-accordion__bullet_active {
    opacity: 1;
    background-color: var(--color-accent);
}