/* Base */

.equipment {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--margins-sm) var(--margins-hor);
    margin: 0;
    padding: 0 var(--margins-hor);
}


/* Link */

.equipment__link {
    text-decoration: none;
    color: inherit;
    background-color: var(--color-back-secondary);
    border: solid 1px var(--color-border);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: var(--margins-sm);
    transition: border .2s;
}

.equipment__link:focus, 
.equipment__link:hover {
    border-color: var(--color-accent);
} 


/* Item */

.equipment__item {
    height: 160px;
    flex-basis: calc(100% / 4 - var(--margins-hor) * 3 / 4);
}


/* Title */

.equipment__title {
    margin: 0;
    align-self: flex-start;
    font-weight: normal;
    font-size: 16px;
}


/* Button */

.equipment__button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    color: var(--color-accent);
}
