/* Base */

.brands {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--margins-sm) var(--margins-hor);
    margin: 0;
    padding: 0 var(--margins-hor);
}


/* Link */

.brands__link {
    text-decoration: none;
    background-color: var(--color-back-secondary);
    border: solid 1px var(--color-border);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: var(--margins-sm);
    transition: border .2s;
}

.brands__link:focus, 
.brands__link:hover {
    border-color: var(--color-accent);
} 


/* Logo */

.brands__logo {
    max-width: 100px;
    width: 100%;
    object-fit: contain;
}


/* Button */

.brands__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color-accent);
    border-radius: 50%;
    color: var(--color-accent);
}